<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.questfeeding.app"
        versionCode = "10" 
        version     = "1.0.0" >
    <name>Questfeeding</name>

    <description>
        Questfeeding
    </description>

    <author href="https://questfeeding.com" email="app@questfeeding.com">
        Questfeeding
    </author>

 <preference name="StatusBarOverlaysWebView" value="false" />

	<access origin="*" />
	<gap:plugin name="com.ionic.keyboard" />
	<gap:plugin name="com.phonegap.plugins.PushPlugin" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.statusbar" />

	<icon src="img/icons/Icon.png" /><!-- iPhone / iPod Touch  -->
        
        <!-- iOS 7.0+  -->
        <icon src="img/icons/Icon-60.png" gap:platform="ios" width="60" height="60" />
        <icon src="img/icons/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="img/icons/Icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="img/icons/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />

        <!-- Settings Icon -->
        <icon src="img/icons/Icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="img/icons/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="img/icons/Icon-40.png" gap:platform="ios" width="40" height="40" />
        <icon src="img/icons/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />

        <!-- iOS 7.0+  -->

        <!-- iPhone / iPod Touch -->
        <icon src="img/icons/Icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="img/icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />

        <!-- iPad -->
        <icon src="img/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="img/icons/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="img/icons/Icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="img/icons/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- iPad Spotlight and Settings Icon -->
        <icon src="img/icons/Icon-50.png" gap:platform="ios" width="50" height="50" />
        <icon src="img/icons/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />
        
        
        <!-- Android -->

        <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
        <icon src="fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
        
</widget>
