<ion-view title="{{'password'|translate}}" class="welcome">
    <ion-content class="has-header box">
        <div id="forgot">
            <div class="headline hide-on-keyboard-open" translate>
                Reset your password
            </div>
            <div class="headline headline_small" translate>
                Enter your email here:
            </div>
            <input placeholder="{{'email'|translate}}" ng-model="data.email" style="padding:14px;">
            <button class="button_basis" translate ng-click="forgotten(data)">
                button.reset.password
            </button>
            <a href="javascript:history.back()"> 
                <button class="button_basis button_empty hide-on-keyboard-open" translate>
                    back
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>