<ion-view title="{{user.firstname}}">
    <ion-content class="has-header" id="messages">
        <ion-list>
            <ion-item class="item_chats item_messages" ng-repeat="message in messages">
                <a href="#/app/public/{{message.user.id}}?firstname={{message.user.firstname}}">
                    <div class="box_profilepic">
                        <img ng-src="{{message.user.avatar_thumb}}">     
                    </div>
                </a>
                <div class="frame">
                    <div class="name">
                        {{message.user.firstname}}
                    </div>
                    <div class="clear"></div>
                    <div class="text">
                        <img popup class="attached" ng-src="{{message.attachment}}" ng-show="message.attachment" />
                        {{message.text}}
                    </div>
                </div>
                <div class="clear"></div>
            </ion-item>
        </ion-list>
    </ion-content>
        <div id="box_type">       
            <div class="buttons">
                <a class="button_basis attach" id="send" ng-click="send(message)">
                    <i class="ion-ios7-paperplane"></i>
                </a>
                <a class="attach" id="attachment" ng-click="capture()" >
                    <i class="ion-image"></i>
                </a>
                <div class="clear"></div>
            </div>
            <div class="text">
                <textarea auto-grow placeholder="{{'placeholder.my.answer'|translate}}" ng-model="message.text"></textarea>
            </div>
            <div class="clear"></div>
        </div>
    
</ion-view>