<ion-view title="Quest" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        <span class="badge badge-assertive" ng-show='unread.count > 0'>{{unread.count}}</span>
    </ion-nav-buttons>

    <ion-content class="has-header" id="quest_content">
        <div id="quest_title_box" ng-hide="custom" translate>
            New Quest
        </div>
        <form name="questform" ng-submit="questform.$valid && send(quest)">
            <div id="box_newquest_frame">
                <div id="box_newquest">
                    <a class="attach" id="attachment" ng-click="capture()" >
                        <i class="ion-image"></i>
                    </a>
                    <div class="text">
                        <textarea auto-grow placeholder="{{'placeholder.quest.new'|translate}}" spellcheck="false" ng-model="quest.text" required></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
             <div id="quest_buttons" ng-hide="custom">
                 <button class="button_basis" style="float:left;" translate>
                     button.send
                 </button>
                 <a class="button_basis" id="button_custom" ng-click="customOpen()" translate>
                     custom
                 </a>
                 <div class="clear"></div>
             </div>
             <div id="quest_inner" ng-show="custom">
                 <div class="box_rows">
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[topic.selected.id > 0]">
                           <img src="img/custom/symbol_topic.gif">
                       </div>
                        <ui-select ng-model="topic.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'topic'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="topic in topics track by $index" refresh="refreshTopics($select.search)" refresh-delay="0">
                                <div ng-bind-html="topic.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[city.selected.id > 0]">
                           <img src="img/custom/symbol_country.gif">
                       </div>
                        <ui-select ng-model="city.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'country'|translate}}/{{'city'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="city in cities track by $index" refresh="refreshCities($select.search)" refresh-delay="0">
                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[highschool.selected.id > 0]">
                           <img src="img/custom/symbol_highschool.gif">
                       </div>
                        <ui-select ng-model="highschool.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'high school'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="highschool in highschools track by $index" refresh="refreshHighschools($select.search)" refresh-delay="0">
                                <div ng-bind-html="highschool.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[college.selected.id > 0]">
                           <img src="img/custom/symbol_college.gif">
                       </div>
                        <ui-select ng-model="college.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'college'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="college in colleges track by $index" refresh="refreshCollege($select.search)" refresh-delay="0">
                                <div ng-bind-html="college.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[study.selected.id > 0]">
                           <img src="img/custom/symbol_study.gif">
                       </div>
                        <ui-select ng-model="study.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'field of study'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="study in studies track by $index" refresh="refreshStudies($select.search)" refresh-delay="0">
                                <div ng-bind-html="study.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[profession.selected.id > 0]">
                           <img src="img/custom/symbol_profession.gif">
                       </div>
                        <ui-select ng-model="profession.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'profession'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="profession in professions track by $index" refresh="refreshProfessions($select.search)" refresh-delay="0">
                                <div ng-bind-html="profession.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[company.selected.id > 0]">
                           <img src="img/custom/symbol_company.gif">
                       </div>
                        <ui-select ng-model="company.selected" theme="selectize" reset-search-input="true">
                            <ui-select-match placeholder="{{'company'|translate}}">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="company in companies track by $index" refresh="refreshCompanies($select.search)" refresh-delay="0">
                                <div ng-bind-html="company.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[quest.gender > 0]">
                           <img src="img/custom/symbol_gender.gif">
                       </div>
                        <select name="gender[]" ng-model="quest.gender">
                           <option value="" selected translate>gender</option>
                           <option value="m" translate>male</option>
                           <option value="f" translate>female</option>
                        </select>
                    </div>
                    <div class="row">
                       <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[quest.relationship > 0]">
                           <img src="img/custom/symbol_relationship.gif">
                       </div>
                        <select name="relationship[]" ng-model="quest.relationship">
                           <option value="" selected translate>relationship</option>
                           <option value="s" translate>single</option>
                           <option value="t" translate>taken</option>
                           <option value="m" translate>married</option>
                        </select>
                    </div>
                    <div class="row">
                        <div ng-class="{true: 'custom_symbol_active', false: 'custom_symbol'}[quest.ageFrom > 0]">
                           <img src="img/custom/symbol_age.gif" />
                        </div>
                        <input type="text" class="input_age" ng-model="quest.ageFrom" name="ageFrom" maxlength="3" placeholder="from" />
                        <input type="text" class="input_age" ng-model="quest.ageTo" name="ageTo" maxlength="3" placeholder="to" />
                    </div>
                       <a class="button_basis" style="padding:11px;" id="quest_button_close" ng-click="customClose()" translate>
                           button.close
                       </a>
                       <button class="button_basis" id="quest_button_send" translate>
                           button.send
                       </button>
                       <div class="clear"></div>
                 </div>
             </div>
         </form>

    </ion-content>
    
    <div class="popup_dark_background" ng-show="showLanguageNotFound">
        <div class="frame_popup">
            <div class="popup_box">
                <div class="content" translate>
                    popup.quest.language.content
                </div>
                <div id="box_newquest_language">
                    <ui-select ng-model="language.selected" theme="selectize" reset-search-input="true">
                        <ui-select-match placeholder="Language">{{$select.selected.native_name}}</ui-select-match>
                        <ui-select-choices repeat="language in languages track by $index" refresh="refreshLanguages($select.search)" refresh-delay="0">
                            <div ng-bind-html="language.native_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button id="button_customquest" style="float:none !important;" href="#" class="button_basis" ng-click="sendLanguage(quest)" translate>
                    button.send
                </button>
            </div>
        </div>
    </div>

</ion-view>
