<ion-view title="{{'settings'|translate}}">
    <ion-content class="has-header box">
        <div class="box" id="settings">
            <!--
            <div class="row checkboxes">
                <div class="col headline headline_small">
                    email
                </div>
                <label class="toggle col col-20">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="row checkboxes">
                <div class="col headline headline_small">
                    Push-Notifications
                </div>
                <label class="toggle col col-20">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            -->
            <div class="headline headline_small" ng-click="password=false" translate>
                My settings
            </div>
            <div ng-hide="password">
                <input placeholder="{{'current password'|translate}}">
                <input placeholder="{{'new password'|translate}}">
                <input placeholder="{{'re-type new password'|translate}}">
                <button class="button_basis">
                    button.save
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>