<ion-view title="{{'topics'|translate}}">
    <ion-content has-header="true" class="has-header">
        <form ng-submit="submit()" id="addtopic">
            <ui-select ng-model="topic.selected" theme="selectize" ng-disabled="disabled" on-select="submit($item)">
                <ui-select-match placeholder="{{'placeholder.topic.new'|translate}}">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="topic in topics track by $index" refresh="refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="topic.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </form>
        <div class="col" ng-show="!topicsList.length" id="noresults" translate>
            no topics yet
        </div>         
        <ion-list>
            <ion-item ng-repeat="topic in topicsList" class="item_topics">
                <img ng-src="{{topic.image}}"/>
                <div class="text">{{topic.name}}</div>
                <a href ng-click="delete(topic)">x</a>
            </ion-item>
            <div class="clear"></div>
        </ion-list>
    </ion-content>
</ion-view>