
<ion-content>

    <div class="frame">

        <div id="logo_welcome">Questfeeding</div>

        <div class="headline" translate>
            headline.tour.topics
        </div>

        <div class="headline_small" translate>
            What other users can send me quests about
        </div>

        <div class="welcome_topic">
            <img src="img/topics/artliterature.jpg" alt="">
            <div>Art & Literature</div>
        </div>
        <div style="clear:both;"></div>

        <button class="button_basis" ng-click="submitTopics()">
            button.save
        </button>

    </div>
        
</ion-content>
