
<ion-content>

    <div class="frame">

        <div id="logo_welcome">Questfeeding</div>

        <div class="headline" translate>
            headline.tour.topics
        </div>

        <div class="headline_small" translate>
            What other users can send me quests about
        </div>

        <div class="welcome_topic">
            <ion-item ng-repeat="topic in user.topics" class="item_topics">
                <img ng-src="{{topic.picture_url}}"/>
                <div class="text">{{topic.name}}</div>
            </ion-item>
            <img src="img/topics/artliterature.jpg" alt="">
            <div>Art & Literature</div>
        </div>
        <div style="clear:both;"></div>

        <button class="button_basis" ng-click="submitTopics()">
            button.save
        </button>

    </div>
        
</ion-content>
