
<ion-content>
    
    <div class="frame">

        <div id="logo_welcome">Questfeeding</div>

        <div class="headline" translate>
            headline.tour.quest
        </div>

        <div class="headline_small" translate>
            text.tour.quest
        </div>

        <input>

        <button class="button_basis" translate ng-click="submitQuest()">
            button.send
        </button>

        <div class="headline_small" style="opacity:0.7;" translate>
            you need inspiration?
        </div>
    
    </div>
    
</ion-content>
