<ion-content>

    <div class="frame">

        <div id="logo_welcome">Questfeeding</div>

        <div class="headline" translate>
            headline.tour.topics
        </div>

        <div class="headline_small" translate>
            What other users can send me quests about
        </div>

        <div class="content_basic">
            <div ng-repeat="topic in topicsList" ng-click="selectTopic(topic)" ng-class="{'selected' : topics[topic.id]}" class="welcome_topic">
                <div class="item_topics">
                    <img ng-src="{{topic.image}}" alt="" />
                    <div>{{topic.name}}</div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <button class="button_basis" ng-click="submitTopics()" translate>
            button.save
        </button>

    </div>
        
</ion-content>
